.bi-title {
  display: flex;
  align-items: center;
  justify-content: left;
  height: 50%;
}

.bi-image {
  margin-top: 20px;
  margin-bottom: 20px;
  width: 100px;
}

.bi-container {
  width: 100%;
  height: 200px;
  display: flex;
  flex-direction: row;
}